@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.animated-image {
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: opacity 0.5s, width 0.5s, height 0.5s;
}

.animated-image.show {
  opacity: 1;
  width: 120px;
  height: 100px;
}